body{
    margin:0;
}
.topnav{
    overflow:hidden;
    background-color: black;
    box-shadow: 10px 0px 25px greenyellow;;
}
.topnav a{
    float:left;
    display:block;
    color:#fff;
    text-align:start;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
}
.topnav a:not(:first-child){
    float:right
}
.topnav a:hover{
    background-color:greenyellow;
    color:black
}
.topnav a.active{
    background-color:greenyellow;
    color:white;
}
.topnav .icon{
    display:none;
}

.overlay{
    height: 100%;
    width:0;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    background-color: black;
    overflow-x:hidden;
    transform: 0.5s;
}
.overlay-content{
    position: relative;
    top: 20%;
    width:100%;
    text-align:center;
    
}
.overlay a{
    padding:8px;
    font-size:36px;
    text-decoration: solid;
    color:white;
    display:block;
    transition:0.3s;
}
.overlay .closebtn{
    position: relative;
    
    left:85%;
    
    
}
.overlay a:hover, .overlay a:focus {
    background-color: greenyellow;
    color: black;
}

@media screen and (max-width:600px){
    .topnav a:not(:first-child){display:none;}
    .topnav a.icon{
        float:right;
        display:block
    }
    
    .topnav.responsive .icon{
        position:absolute;
        right:0;
        top:0;
    }
    
}
