body{
    margin:0;
}
.topnav{
    overflow:hidden;
    background-color: black;
    box-shadow: 10px 0px 25px greenyellow;;
}
.topnav a{
    float:left;
    display:block;
    color:#fff;
    text-align:start;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
}
.topnav a:not(:first-child){
    float:right
}
.topnav a:hover{
    background-color:greenyellow;
    color:black
}
.topnav a.active{
    background-color:greenyellow;
    color:white;
}
.topnav .icon{
    display:none;
}
@media screen and (max-width:600px){
    .topnav a:not(:first-child){display:none;}
    .topnav a.icon{
        float:right;
        display:block
    }
    .topnav.responsive{position:relative;}
    .topnav.responsive .icon{
        position:absolute;
        right:0;
        top:0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
